* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.banner {
    text-align: center;
    background-image: url('../img/polygonal19.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
}


h1 {
    text-align: center;
    font-weight: 900;
    color: #005677;
    background-color: #e6f0f5;
    margin-bottom: 30px;
    margin-top: 30px;
}

h2 {
    font-weight: 700;
    font-size: 20px;
    background-color: #005677;
    color: #FFFFFF;
    padding-left: 10px;
    font-style: italic;
}

main {
    min-height: 70vh;
}

main ul {
    margin-top: 15px;
    margin-bottom: 20px;
}

main li {
    margin-bottom: 8px;
}

main section ul {
    padding-left: 25px;
}

section {
    margin-bottom: 25px;
}

.menu-nav {
    text-decoration: none;
    color: #005677;
    background-color: white;
    font-weight: 800;
    padding: 6px;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: #005677;
}

.foto-personal {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin: 15px;
}

.sinPuntos li {
    list-style-type: none;
}

span {
    font-weight: bold;
}

.texto-Sobremi {
    padding: 10px;
    text-align: justify;
    line-height: 1.6;
}

footer {
    text-align: center;
    background-color: #005677;
    color: #FFFFFF;
    padding: 20px;
}

footer span {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

footer a {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    color: white;
}


/*   */